*{
    font-family:cursive;
    margin: 0;
    padding: 0; 
}
body{
   scroll-behavior: smooth;
    
}
.header{
}
  .header .image {
    
    width:108%;
    height: 800px;
    margin: auto;



}

ul{
  display: flex;
  position: absolute;
  top: 10px;
  /* right: 10px; */
  text-decoration: none;
    
    
}
ul li {
    list-style-type:none;
    margin: 23px;
    padding: 5px;
 
}
ul li a {
    transition:0.5s ease;
    text-decoration: none;
    padding: 10px;
    color:rgb(0, 0, 0);
    border-radius: 15px;
}
ul li a:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.services{
    width: 100%;
    height: 900px;
    scroll-behavior: smooth;
}
.head{
    position: absolute;
    top: 34%;
    left: 10%;
    transform:translate(-50% -50%);
}
.head h1{
    font-size: 55px;
    text-align: center;
    
}
.head .btn1{
    /* display: block;
    margin: auto;
    width: 50px; */
    position: absolute;
    top: 84%;
    left: 46%;
    transform:translate(-50% -50%);
    margin-top: 30px;
    padding:17px;
    text-decoration: none;
    color: rgb(231, 230, 230);
    font-size: 23px;
    background-color:black;
    border-radius: 20px;
    transition:0.5s ease;
}
.head .btn1:hover{
    background-color: transparent;
    color:black;
}


/* -----------SERVICES------------ */
/* 

  .server{
     display: block;
     background-color: chartreuse;
    position:absolute;
    width:400px;
    top: 901px;
    left: 663px;
    color: rgb(0, 0, 0);
    font-size: 59px;
    font-weight: 700;

} */

/* .services.icon{
    display: block;
    width: 10px;
    margin: auto;
}
.services h3,p {
    text-align: center;
    display:flex;
    flex-direction: column;
    height: 40px;
    width: 308px;
    margin-left: 122px;
    margin-top: 20px;

}
.services h3{
    font-size: 35px;
    text-align: center;
}
.services p{
    align-items: center;
    font-size: 16px;
}
.services.col-md-3{
    display: flex;
    flex-direction: column;
} */
/* .services h3,p {
    text-align: center;
    display:block;
    height: 40px;
    width: 308px;
    margin-left: 122px;
    margin-top: 20px;

}
.services.goal{
    position: absolute;
    top: 20px;
    right: 10px;
} */
/* .services{
    display: flex;
    justify-content: center;
    align-items: center;min-height: 100vh;
    background: linear-gradient(#0f4675,#0f4675 50%, #fff 50%,#fff 100%);
}
.servicebox {
    width: 1500px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.servicebox .goals {
    position: relative;
    width: 320px;
    height: 350px;
    margin: 20px;
    color: rgb(0, 0, 0);
    background: azure;
    box-shadow: 2px 8px 5px 2px #888888;
    border-radius: 10px;
    transition: 0.5s ease;
   

}
.servicebox h3{
    font-size: 27px;
}
.servicebox h3,p{
    text-align: center;

}
.services .server span{
    color:#323250;
}
.contentbox img{
    opacity:0.9;
} */




#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #3a9183;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

}
  #server{
      font-size: 2.6rem;
      text-align: center;
  }


/*--------------------PROJECTS--------------------*/

#sites {
    width: 100%;
    height: 900px;
}
#pro{
    display: flex;
    align-items: center;
}
#impro img{
  height: 160px;
margin: auto;
display: block;
}
/* .sites {
    width: 100%;
    height: 900px;
    background-color: chartreuse;
}
.ourprojects {
    text-align: center;
}
.ourprojects .projects{
    font-size:59px;
}
.imgpro{
    display: flex;
    justify-content: center;

}
.imgpro img{
    height: 400px;
    width: 400px;
    transition:0.3s ease;
    flex-wrap:wrap;
    margin:10px;


}
.imgpro img:hover{
opacity:0.5;

} */

/*--------------------CONATCT FORM--------------------*/


.form {
    height:1400px;
    width:100%;
    margin: auto;
    
}
.application{
    display: flex;
    flex-direction: column;
    /* vertical-align: middle; */
    height: 100px;
    width: 400px;
    margin: auto;
    position: relative;
    top: -1200px;
    right: 374px;
    
}


.application input {
    height: 52px;
    width: 1000px;
    text-align: center;
    padding-left: 530px;
    padding-right: 474px;
    border-radius: 10px;
    font-size: 25px;
    color: blue;
    padding: 23px;

} 

.application h2 {
    color: white;
    font-size: 70px;
    height:200px;
    width:100%;
    margin-bottom:100px;
    margin-left:320px;
}
 .application a {
    list-style-type: none;
    text-decoration: none;
    border: 1px solid lightsalmon;
    color: white;
    font-size: 35px;
    background-color: blue;
    margin-top:40px;
    text-align: center;
    margin-left:270px;
    width: 500px;
}

.application a:hover {
    color: white;
    background-color: red;
    border-radius: 100%;
    transition: 0.6s ease;
} 










